.footer{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 2rem;
  row-gap: 0.3rem;
}

.footer h2{
  margin: 0;
  width: 100%;
  font-size: 1rem;
  color: #00E0D9;
  text-align: center;
}

.Dark .footer h2{
  color: #00E0D9;
}

.Light .footer h2{
  color: #15273B;
}