.TechStack {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  margin-bottom: 100px;
  height: auto;
}

.TechStack .Stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
  column-gap: 15px;
  row-gap: 25px;
  width: 100%;
}

.TechStack #BackEndStack{
  display: none;
}

.TechStack #OtherStack{
  display: none;
}

.TechStack .Selector {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 50px;
}

.Selector .selection {
  height: 50px;
  width: 40%;
  border-radius: 0;
}

.Selector .Selected{
  transition: all 0.2s;
}

.TechStack .Technology {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  border-radius: 50%;
  width: 90px;
  height: 90px;
}


 
.Technology img {
  width: 100%;
  height: 50px;
  object-fit: contain;
  transition: all 1s;
}

.Technology .Techname{
  margin: 0;
  position: absolute;
  top: 100px;
  font-weight: 600;
  font-size: 12px;
}

.Technology .tooltip {
  opacity: 0;
  position: absolute;
  font-weight: 600;
  border-radius: 5px;
  bottom: 90px;
  padding: 10px 5px;
  width: 100%;
  font-size: 13px;
  transform: translateY(20px);
  transition: all 0.2s;
}

.Technology .tooltip p {
  margin: 0px;
  text-align: center;
}

.Technology .tooltip::after {
  content: "";
  display: block;
  border-top: 10px solid #00E0D9;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: absolute;
  bottom: -7px;
  left: calc(50% - 10px);
}


/* Dark */

.Dark .TechStack .selection {
  background-color: #15273B;
  color: #DADCE7;
  border-bottom: 2px solid #CED1DF;
}

.Dark .TechStack .Selected{
  border-bottom: 5px solid #00E0D9;
}

.Dark .TechStack .Technology {
  border: 4px solid #00E0D9;
}

.Dark .TechStack .Technology .Techname{
  color: #00E0D9;
}

.Dark .TechStack .Technology .tooltip {
  background: #00E0D9;
}

.Dark .TechStack .Technology .tooltip p {
  color: #15273B;
}


.Dark .TechStack .Technology .tooltip::after {
  border-top: 10px solid #00E0D9;
}



/* Light */

.Light .TechStack .selection {
  background-color: #DADCE7;
  color: #15273B;
  border-bottom: 2px solid #CED1DF;
}

.Light .TechStack .Selected{
  border-bottom: 5px solid #305988;
}

.Light .TechStack .Technology {
  border: 4px solid #305988;
}

.Light .TechStack .Technology .Techname{
  color: #305988;
}

.Light .TechStack .Technology .tooltip {
  background: #305988;
  color: #DADCE7;
}

.Light .TechStack .Technology .tooltip::after {
  border-top: 10px solid #305988;
}


@media only screen and (min-width: 768px) {

  .TechStack .Technology {
    width: 85px;
    height: 85px;
  }

  .Technology .tooltip {
    bottom: 94px;
  }
}


@media only screen and (min-width: 1024px) {

  .TechStack .Technology {
    width: 90px;
    height: 90px;
    transition: all 1s;
  }

  .Technology .Techname{
    display: none;
  }

  .Technology .tooltip {
    bottom: 98px;
  }

  .TechStack .Technology:hover {
    border-radius: 20%;
    transform: rotate(360deg);
    transition: all 1s;
  }
  
  .TechStack .Technology:hover {
    border-radius: 20%;
    transform: rotate(360deg);
    transition: all 1s;
  }
  
  .TechStack .Technology:hover img{
    transform: rotate(-360deg);
    transition: all 1s;
  }
  
  .TechStack .Technology:hover .tooltip{
    opacity: 1;
    transform: translateY(-2px);
    transition: all 0.5s 0.7s;
  }

}


@media only screen and (min-width: 1440px) {

  .TechStack .Technology {
    width: 95px;
    height: 95px;
  }

  .Technology .tooltip {
    bottom: 103px;
  }

}


@media only screen and (min-width: 1920px) {

  .TechStack .Technology {
    width: 100px;
    height: 100px;
  }

  .Technology .tooltip {
    bottom: 108px;
  }

}